<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aphelion</title>
    <style>
        body {
            background-color: #fee8c8;
        }
        a:hover, a:focus, a:active {
            background-color: #ffffff;
        }
        a {
            color: #0000FF;
            padding: 0.25em;
        }
    </style>
</head>
<body>
    <div style="text-align:center">
        <h1>Aphelion</h1>

        <p>View climate data for the past seven
            <a href="https://en.wikipedia.org/wiki/Sol_(day_on_Mars)">sols</a>
            on Mars.</p>
            <a th:href="@{|/sol/${sol0}|}" th:text="'Sol ' + ${sol0}"></a>
            <a th:href="@{|/sol/${sol1}|}" th:text="'Sol ' + ${sol1}"></a>
            <a th:href="@{|/sol/${sol2}|}" th:text="'Sol ' + ${sol2}"></a>
            <a th:href="@{|/sol/${sol3}|}" th:text="'Sol ' + ${sol3}"></a>
            <a th:href="@{|/sol/${sol4}|}" th:text="'Sol ' + ${sol4}"></a>
            <a th:href="@{|/sol/${sol5}|}" th:text="'Sol ' + ${sol5}"></a>
            <a th:href="@{|/sol/${sol6}|}" th:text="'Sol ' + ${sol6}"></a>
        <p>Uses the <a href="https://api.nasa.gov/#insight">InSight API.</a></p>
        <p th:text="'This page has been visited ' + ${vistorCount} + ' times'"></p>
    </div>
</body>
</html>