<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aphelion</title>
    <style>
        body {
            background-color: #fee8c8;
        }
        a:hover, a:focus, a:active {
            background-color: #ffffff;
        }
        a {
            color: #0000FF;
            padding: 0.25em;
        }
    </style>
</head>
<body>
    <div style="text-align:center">
        <h1>Aphelion</h1>

        <p>View climate data for the past seven
            <a href="https://en.wikipedia.org/wiki/Sol_(day_on_Mars)">sols</a>
            on Mars.</p>
        <a th:each="sol : ${listOfSols}" th:href="@{|/sol/${sol}|}" th:text="'Sol ' + ${sol}"></a>
        <p>Uses the <a href="https://api.nasa.gov/#insight">InSight API.</a></p>
    </div>
</body>
</html>