<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Sol ' + ${solNum}"></title>
    <style>
        body {
            background-color: #fee8c8;
        }
        a:hover, a:focus, a:active {
            background-color: #ffffff;
        }
        a {
            color: #0000FF;
            padding: 0.25em;
        }
        h2 {
            margin-bottom: 0.25em;
            font-size: 1.25em;
        }
    </style>
</head>
<body>
    <nav style="display: inline;">
        <ul style="display: inline;padding-left: 0em;">
        <li style="display: inline;"><a href="/">Home</a>/</li>
        <li style="display: inline;">
            <p th:text="${solNum}" style="display: inline;"></p>
        </li>
        </ul>
    </nav>
    <h1 th:text="'Sol ' + ${solNum}" style="text-align:center"></h1>

    <p th:text="'Date: ' + ${firstUTC}"></p>
    <p th:text="'Season: ' + ${season}"></p>

    <div style="display:flex;">
        <div style="flex: 1;">
            <h2>Atmos. Temperature</h2>
        </div>
        <div style="flex: 1;">
            <h2>Wind Speed</h2>
        </div>
        <div style="flex: 1;">
            <h2>Atmos. Pressure</h2>
        </div>
    </div>
    <div style="display:flex;">
        <div style="flex: 1;">
            <p th:text="'Average: ' + ${avgTemp} + '&#176F'"></p>
            <p th:text="'Min: ' + ${minTemp} + '&#176F'"></p>
            <p th:text="'Max: ' + ${maxTemp} + '&#176F'"></p>
        </div>
        <div style="flex: 1;">
            <p th:text="'Average: ' + ${avgWind} + 'm/s'"></p>
            <p th:text="'Min: ' + ${minWind} + 'm/s'"></p>
            <p th:text="'Max: ' + ${maxWind} + 'm/s'"></p>
        </div>
        <div style="flex: 1;">
            <p th:text="'Average: ' + ${avgPress} + 'Pa'"></p>
            <p th:text="'Min: ' + ${minPress} + 'Pa'"></p>
            <p th:text="'Max: ' + ${maxPress} + 'Pa'"></p>
        </div>
    </div>

    <div style="display:inline-flex;flex-direction:column;">
        <a th:href="@{|/sol/${sol0}|}" th:text="'Sol ' + ${sol0}"></a>
        <a th:href="@{|/sol/${sol1}|}" th:text="'Sol ' + ${sol1}"></a>
        <a th:href="@{|/sol/${sol2}|}" th:text="'Sol ' + ${sol2}"></a>
        <a th:href="@{|/sol/${sol3}|}" th:text="'Sol ' + ${sol3}"></a>
        <a th:href="@{|/sol/${sol4}|}" th:text="'Sol ' + ${sol4}"></a>
        <a th:href="@{|/sol/${sol5}|}" th:text="'Sol ' + ${sol5}"></a>
        <a th:href="@{|/sol/${sol6}|}" th:text="'Sol ' + ${sol6}"></a>
    </div>
</body>
</html>