<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Sol ' + ${solNum}"></title>
    <style>
        body {
            background-color: #fee8c8;
        }
        a:hover, a:focus, a:active {
            background-color: #ffffff;
        }
        a {
            color: #0000FF;
            padding: 0.25em;
        }
        h2 {
            margin-bottom: 0.25em;
            font-size: 1.25em;
        }
    </style>
</head>
<body>
    <nav style="display: inline;">
        <ul style="display: inline;padding-left: 0em;">
        <li style="display: inline;"><a href="/">Home</a>/</li>
        <li style="display: inline;">
            <p th:text="${solNum}" style="display: inline;"></p>
        </li>
        </ul>
    </nav>
    <h1 th:text="'Sol ' + ${solNum}" style="text-align:center"></h1>

    <p th:text="'Date: ' + ${firstUTC}"></p>
    <p th:text="'Season: ' + ${season}"></p>

    <table style="text-align:center; width: 100%;">
        <tr>
            <th>Atmos. Temperature</th>
            <th>Wind Speed</th>
            <th>Atmos. Pressure</th>
        </tr>
        <tr>
            <td>
                <p th:text="'Average: ' + ${avgTemp} + '&#176F'"></p>
                <p th:text="'Min: ' + ${minTemp} + '&#176F'"></p>
                <p th:text="'Max: ' + ${maxTemp} + '&#176F'"></p>
            </td>
            <td>
                <p th:text="'Average: ' + ${avgWind} + 'm/s'"></p>
                <p th:text="'Min: ' + ${minWind} + 'm/s'"></p>
                <p th:text="'Max: ' + ${maxWind} + 'm/s'"></p>
            </td>
            <td>
                <p th:text="'Average: ' + ${avgPress} + 'Pa'"></p>
                <p th:text="'Min: ' + ${minPress} + 'Pa'"></p>
                <p th:text="'Max: ' + ${maxPress} + 'Pa'"></p>
            </td>
        </tr>
    </table>

    <div style="display:inline-flex;flex-direction:column;">
        <a th:each="sol : ${listOfSols}" th:href="@{|/sol/${sol}|}" th:text="'Sol ' + ${sol}"></a>
    </div>
</body>
</html>